//카라이프
.carLife-container{
    padding-bottom:100px;     

    .tab-cont{padding:20px 0;}

    //진행중 이벤트
    .sorting-box{
        @include Align-between;
        padding:20px 0 30px;
    }
    .grid-col2{
        @include Align-box;

        > .col, > li{    
            @include Align-top-left-column;
            width:50%;
        }
    }
    .grid-col3{
        @include Align-box;
        align-items: flex-start;

        > li{
            @include Align-top-left-column;
            flex:none;
            flex-basis: 33.33%;
            margin-bottom:40px;

            > a, > .item{
                position:relative;
                @include Align-box;
                width:380px;
            }
            .img {
                img {
                    width: 380px;
                    height: 220px;
                    background-size: 100% auto;
                }
            }
            &:nth-of-type(3n+2){
                > a, > .item{margin:auto;}
            }
            &:nth-of-type(3n){
                > a, > .item{
                    margin-left:auto;
                    margin-right:0;                    
                }
            }

            .thumb{
                border-radius:20px;
                overflow:hidden;
                > img {
                    width: 380px;
                    height: 220px;
                    background-size: 100% auto;
                }
            }
            .desc{
                padding:20px 10px;

                .tit{
                    @include Bold;
                    font-size:17px;
                    margin-bottom:10px;
                    @include Ellipsis($w:380px, $lines:1);
                }
                .date{color:#848484;}
            }
        }

        .detail{
            position:relative;
            @include Align-top-left-column;
            width:100%;
            padding:20px 10px;
            box-sizing: border-box;

            .desc{
                width:100%;
                @include Inline-align-middle;
                justify-content:flex-start;                
                padding:0; 
                margin-bottom:10px;    

                .txt{@include Ellipsis($w:100%, $lines:1); }                
            }
            .tag{
                width:100%;
                @include Ellipsis($w:100%, $lines:1);

                //@include Align-middle-left;
                //.item{@include Ellipsis($w:auto); max-width:33.333%; margin-right:10px; color:#848484; font-size:13px;}                    
            }

            .sns-flag{
                @include Position($top:10px, $right:14px);
                @include Align-middle;
                margin-left:5px;

                &.v2{
                    @include Vertical-inline;
                    position:static;
                }

                // &.post{
                //     @include Bold;
                //     @include Align-middle;
                //     height:30px;
                //     font-size:12px;                    
                //     color:#fff;
                //     padding:0 6px;
                //     background:#000;
                //     border-radius: 15px;

                // }
            }            
        }
    }
    .grid-col4{
        @include Align-box;

        > .col, > li{    
            @include Align-top-left-column;
            width:25%;
        }
    }
    //당첨자 발표
    .search-wrap{
        width:680px;
        margin:40px auto;
        @include Align-between-top;

        .selectbox{width:150px;}        
        .srch-input-box{
            flex: none;
            width: 435px;
            margin:0 5px 0 10px;
        }
        select, input, button{height:50px; border-radius:6px}
        .btn{
            flex:none;
            width:80px; 
            color:#fff;
            background-color:#54585a;
        }
    }        
    .notice-wrap{
        margin-bottom:60px;

        .flag{
            width:54px;
            height:30px;
            @include Inline-align-middle;
            @include Bold;
            color:#54585a;
            border:1px solid #54585a;
            border-radius:15px;
            margin-right:40px;
        }
    }
    .pagination-wrap{
        padding:60px;

        .btn-paging-prev, .btn-paging-next{
            width:40px;
            height:40px;
            border-radius: 40px;
        }
        .pagination-list{
            width:62px;
            @include Align-middle;
        }
        strong{@include Bold;}
    }

    //이벤트 상세
    .ntc-view-header{
        .top-row, .bot-row{
            @include Align-between-base;
            @include Regular;
            font-size:22px;
        }    
        .bot-row{
            border-bottom:1px solid #e7e7e7; 
            padding:20px 0 40px;
        }
        .flag{
            @include Align-middle;
            height:30px;
            font-size:14px;
            color:#54585b;
            padding:0 15px;
            border:1px solid #54585b;
            border-radius: 15px; 
            box-sizing:border-box;

            &-red{
                @include Align-middle;
                height:30px;
                font-size:14px;
                color:#ed1c24; 
                padding:0 15px;
                border:1px solid #ed1c24;
                border-radius: 15px; 
                box-sizing:border-box;
            }
            &-blue{
                @include Align-middle;
                height:30px;
                font-size:14px;
                color:#5179f5; 
                padding:0 15px;
                border:1px solid #5179f5;
                border-radius: 15px; 
                box-sizing:border-box;
            }
            &-purple{
                @include Align-middle;
                height:30px;
                font-size:14px;
                color:#7a5bfe;
                padding:0 15px;
                border:1px solid #7a5bfe;
                border-radius: 15px; 
                box-sizing:border-box;
            }
        }
        .btn-share{
            height:30px;
            margin-left:auto; 
            margin-right:0;
        }
        .ntc-date{
            font-size:14px;
            color:#57585a;
        }
    }
    .ntc-view-body{
        padding:80px 100px;

        .img-box{text-align:center; margin-bottom:40px;}
        .ntc-view-cont{margin-bottom:40px;}        
        img{max-width:100%; width: 100%;; height:auto; background-size: 100% auto;}
        .tag-area{            
            @include Align-box;
            //margin-bottom:40px;

            .tit{
                @include Align-middle;                
                @include Bold;
                height:34px;
                padding:0 25px;
                border:1px solid #2f2f2f;
                color:#2f2f2f;
                border-radius:34px;
            }
            .tag-list{                
                @include Inline-align-middle;

                a{
                    font-size:14px; 
                    color:#54585a; 
                    margin-left:20px; 
                    text-decoration: underline;
                }
            }
        }
    }
    .ntc-view-footer{
        .ntc-list{
            padding:15px 50px;   
            border-radius: 6px;
            background-color:#fafafa;

            li{
                a{
                    height:45px;
                    @include Align-middle-left;

                    strong{
                        @include Align-box;
                        @include Bold;
                        margin-right:20px;
                        
                        &:after{
                            content:"";
                            display:inline-block;
                            width:1px;
                            height:14px;
                            margin-left:20px;
                            background-color:#e7e7e7;
                        }
                    }
                    .ntc-date{margin-left:auto; color:#8f9191;}
                }
            }
        }
        .btn-box{
            padding:50px;
            margin-bottom: 30px;
            text-align:center;
            
            .btn{
                max-width:120px;
                margin:0 auto;
                color:#54585a;
                @include Bold;
                border-radius: 6px;
            }
        }
    }


    //타방
    .tabwang-swiper-section{
        margin-bottom:10px;
        .carLife-tabwang-swiper{
            position:relative; 
            padding-bottom:30px;

            .tabwang-swiper-button-prev, .tabwang-swiper-button-next{ 
                cursor: pointer;
                @include Position($top:170px, $left:215px);
                width: 105px; 
                height:130px;
                @include Align-middle;
                z-index:5;
            }
            .tabwang-swiper-button-next{@include Position($top:170px, $left:auto, $right:215px);}

            .swiper-slide {
                transition: all .25s ease-out;
                opacity: 1;
                .img, .detail{
                    max-width:860px;
                }
                img {
                    max-width: 100%;
                    transition: all .25s ease-out;
                    transform: scale(.92);
                    transform-origin: center;
                    width: 800px;
                    height: 495px;
                }
                .detail{
                    display:none;
                }
            }
            .swiper-slide-active{
                img {
                    transform: scale(1);
                } 
                .detail{
                    @include Position($bottom:0, $left:0, $right:0);
                    display:block;
                    @include Align-middle-column;
                    height:174px;      
                    color:#fff;
                    @include Bold;
                    background: rgba(0,0,0,.4);

                    .desc{
                        color:inherit;
                        font-size:30px;
                        margin-bottom:20px;
                    }
                    .tag{
                        @include Inline-align-middle;
                        
                        li{padding:0 5px;}
                    }
                }
            }

            .swiper-slide-active{
                -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.15); 
                box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.15);
            }
            
            // .swiper-slide-active + .swiper-slide ~ .swiper-slide {
            //     opacity: .35;
            //     border:2px solid red;
            // }              
        }
    }
    .section-headline-tooltip{
        position: relative;
        width:1600px;
        margin:0 auto;
    }
    .tabwang-tag-section{
        .filter-area{
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            @include Align-middle;
            padding: 40px 0;
            z-index:5;
            background-color: #fff;
            

            .item{
                button, label {
                    position: relative;
                    @include Align-middle;
                    height:40px;
                    padding:0 26px;
                    border:1px solid #d2d2d2;
                    border-radius:40px;
                    box-sizing: border-box;
                    margin:0 5px;
                    transition: all .4s;
                }                
            }
            input{display:none;}
            input:checked + label{
                @include Bold;
                border:1px solid #ed1c24;
                color:#ed1c24;
            }            
        }

        .choice-tag-area{
            @include Align-middle;
            @include Bold;
            font-size:17px;
            padding:30px;
            background-color:#f5f5f5;
            border-radius:6px;
            margin-bottom:40px;
        }
    }
    .post-section{
        padding-top:80px;
        border-top:1px solid #e7e7e7;
        
        .tit-header{
            @include Bold;
            font-size:22px;
            margin-bottom:25px;
        }
        .grid-col3{
            .detail{
                position:static;
                .sns-flag{@include Position($top:20px, $right:24px);}
            }
        }
    }


    //제주오투하우스

    &.auto-container{
        .grey-box{
            padding:30px 40px;
            margin-bottom:80px;
            color:#54585a;

            strong{@include Bold; margin-right:15px;}
            .icon{margin-right:10px;}
        }
        .img-list{
            li{
                .item{
                    position: relative;
                    .cover{
                        @include Position($left:0, $right:0, $bottom:0);
                        background-color:#54585a;

                        .txt{                       
                            @include Align-middle;
                            min-height:50px;
                            padding:15px;
                            margin:0;
                            color:#fff;
                            text-align: center;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
        .location-area{
            @include Align-between;
            margin-top:60px;
            background-color:#fafafa;

            .location{
                flex:none;
                width:588px;
                flex-basis: 588px;
            }
            .infos{
                padding:40px;
                .infos-header{
                    padding-bottom:20px;
                    border-bottom:1px solid $border-grey;

                    .infos-header-row{
                        @include Align-middle-left;

                        dt, dd{flex:1;}
                        dt{
                            @include Bold;
                            flex:none;
                            width:200px;
                            flex-basis: 200px;
                        }
                        dd{
                            @include Align-between;
                            color:#54585a;
                        }
                    
                        + .infos-header-row{margin-top:20px;}
                    }
                    .lst{margin-top:20px;}
                }
                .infos-cont{
                    margin-top:20px;

                    strong{@include Bold;}
                }
                .lst{
                    margin:0;

                    li{
                    + li{margin-top:20px;} 
                    }
                }
            }
        }
        .box-align{
            display:flex;
            .video-box{
                flex:none;
                flex-basis:590px;
                width:590px;
                height:440px;

                iframe{width:100%; height:100%;}
            }
            .step-infos{
                padding-left:80px;
                li{
                    .tit{
                        display:block;
                        @include Bold;
                        font-size:16px;
                        margin-bottom:0;

                        .txt{@include txtSetting;}
                        + .txt{
                            margin-top:20px;
                        }
                    }

                    +  li{margin-top:50px;}
                }
            }
        }
        .auto-between-box{
            @include Align-box;
            width: calc(100% + 20px);
            margin-bottom:120px;
            
            .between-col{
                width:50%; 
                padding-right:20px;
                box-sizing: border-box;

                > div{
                    @include Align-middle-left;
                    padding:40px;
                    min-height:206px;
                    background-color:#fbf6f1;
                    box-sizing: border-box;
                    
                    .statement{
                        padding-left:40px;

                        .tit{font-size:20px;}
                        .txt{
                            @include txtSetting;
                            margin-top:20px;
                        }
                    }
                }
            }
        }
        .multi-segment-list{
            .details{
                .tit-size-mid{
                    + .strong-tit, + .box-between{margin-top:25px;}    
                }
                .strong-tit{
                    display:block;
                    @include Bold; 
                    font-size:16px;

                    + .lst, + .txt{margin-top:15px;}
                }
                .box-between{
                    .box-between-col{
                        width:424px;
                        padding-right:60px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
    
}

// 영문
.eng-wrap{
    .img-list{
        li{
            .item{
                .cover{
                    .txt{                       
                        min-height:70px;
                    }
                }
            }
        }
    }

    .location-section{
        .box-align{
            background-color:#fafafa;

            .details{
                padding:40px;
                .details-header{
                    @include Align-between;
                    padding-bottom:20px;
                    border-bottom:1px solid $border-grey;

                    .tit{
                        font-size: 14px;
                        margin:0;
                    }
                }
                .details-cont{
                    margin-top:20px;

                    strong{@include Bold;}
                }
                .lst{
                    margin:0;

                    li{
                       + li{margin-top:20px;} 
                    }
                }
            }
        }
    }

      
}
