.main-wrap {
    //@include Background($sprite:'error', $type:'png');
    * {
        box-sizing: border-box;
    }
    .inner-type3 {
        padding: 0 90px;
    }
    // 메인 공통
    .h-type {
        p {
            font-size: 36px;
            color: #8f9191;
            &.small {
                font-size: 18px;
            }
        }
        h2 {
            @include Bold;
            font-size: 46px;
            color: #2f2f2f;
        }
    }
    .btn-goLink {
        font-size: 18px;
        color: #2f2f2f;
        &:after {
            display: inline-block;
            content: "";
            width: 10px;
            height: 14px;
            background: url(../../resources-pc/images/icons/ico-main-arrow4.png) 0 0 no-repeat;
            background-size: 100% auto;
            margin-left: 5px;
        }
    }
    .t-red {
        @include Bold;
        margin-top: 10px;
        font-size: 28px;
        color: #da291c;
        sub {
            font-size: 18px;
        }
    }
    .pagination-wrap {
        .swiper-pagination {
            z-index: 0;
            position: inherit;
            width: auto;
            .swiper-pagination-current {
                @include Bold;
                line-height: 1.2;
                margin-right: 2px;
            }
            .swiper-pagination-total {
                margin-left: 2px;
            }
        }
        .btn-paging-prev {
            margin-right: 20px;
        }
        .btn-paging-next {
            margin-left: 20px;
        }
    }
    // 상단 비쥬얼 영역
    .main-visual-wrap {
        @include Align-middle-right;
        position: relative;
        max-width: 1680px;
        min-width: 1680px;
        margin: 20px auto 0;
        width: 100%;
        height: 720px;
        color: #fff;
        .main-visual-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 630px;
            height: 100%;
            .swiper-pagination-wrap {
                position: absolute;
                height: 50px;
                top: 100px;
                left: 175px;
            }
            .main-visual-pager {
                @include Align-middle-left;
                @include Bold;
                color: #fff;
                font-size: 14px;
                .loading-bar {
                    width: 128px;
                    height: 2px;
                    margin: 0 40px 0 10px;
                }
                .loading-ani{
                    display: block;
                    height: 2px;
                    background: #fff;
                }
                button {
                    width: 9px;
                    height: 9px;
                    background-size: 100% auto;
                    margin-left: 10px;
                }
                .stop{
                    background: url(../../resources-pc/images/icons/ico-main-stop.png) 0 0 no-repeat;
                }
                .play{
                    background: url(../../resources-pc/images/icons/ico-main-play.png) 0 0 no-repeat;
                }
            }
            .main-visual-list {
                position: relative;
                width: 100%;
                height: 100%;
                .main-img-wrap{
                    width: 630px;
                    height: 720px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                
                .text-cont {
                    padding-top: 23px;
                    color: #fff;
                    strong {
                        @include Bold;
                        color: #fff;
                        font-size: 42px;
                        line-height: 1.4;
                    }
                    p {
                        @include Regular;
                        font-size: 22px;
                    }
                    .btn-more {
                        @include Bold;
                        margin-top: 60px;
                        font-size: 14px;
                        &:after {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 14px;
                            margin-left: 5px;
                            background: url(../../resources-pc/images/icons/ico-main-arrow.png) 0 0 no-repeat;
                            background-size: 100% auto;
                            vertical-align: middle;
                        }
                    }                 
                }
                .slide-img {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    width: 307px;
                    height: 270px;
                }
            }        
        }
        .section-visual-booking {
            width: 420px;
            height: 100%;
            background: #333;
            z-index: 2;
            h2 {
                @include Bold;
                font-size: 22px;
                padding-left: 5px;
            }
            h2:before {
                content: "";
                display: inline-block;
                width: 25px;
                height: 24px;
                margin-right: 10px;
                background-size: 100% auto;
                vertical-align: text-top;
            }
            .btn-link{
                border:0 none;
                color:#aaa;
                height:50px;
                padding:0 0 0 5px;
                text-align: left;
                line-height:1.4;
                font-size: 16px;
                @include Regular;
                    b{
                        color: #aaa;
                        font-size: 16px;
                        line-height: 1;
                    }
                &.active{
                    @include Bold;
                    &:after {
                        display: inline-block;
                        content: "";
                        background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
                        width: 14px;
                        height: 11px;
                        margin-left: 10px;
                        background-size: 100% auto;
                    }
                    b{
                        border-bottom: 1px solid #fff;
                        color:#fff;
                        font-size: 16px;
                    }
                }
            }
            &.calendar {
                padding: 50px 0 35px 30px;
                border-radius: 50px 0 0 0;
                h2:before {
                    background: url(../../resources-pc/images/icons/ico-main-calendar.png) 0 0 no-repeat;
                }
                .main-calender-wrap {
                    height: 585px;
                    overflow: hidden;
                    > div {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 570px;
                    }
                }
                .tbl-box{
                    .calendar-tit {
                        @include Bold;
                        font-size: 20px;
                        padding: 15px 10px;
                    }  
                    table{
                        width:100%;
                        th, td{
                            text-align:center;
                            padding:13px 0;
                            color: #aaa;
                        }
                        th{
                            padding-top:0;
                        }
                        .btn {
                            width:38px; 
                            height:38px; 
                            padding:0; 
                            color: #aaa;
                        }                                                
                        .disabled, 
                        .disabled > button, 
                        button[disabled]{
                            color:#8f9191;
                        }
                        .today{
                            .btn{
                                position: relative;
                                @include Bold; 
                                color:#fff;
                                &:after{
                                    content:"";
                                    display:block;
                                    width: 20px;
                                    height:1px;
                                    margin: 0 auto;
                                    background-color:#fff;
                                }                                
                            }                            
                        }
                        .today{
                            &.on, &.start, &.end, &.during{
                                .btn{
                                    &:after{background-color:#fff;}
                                }
                            }
                        }
                        .start, .end, .during{
                            .btn{
                                width: 100%;
                                color:#fff;
                                background-color: #ff404b;
                            }
                        }
                        .start{
                            .btn{                                
                                border-top-left-radius: 38px;
                                border-bottom-left-radius: 38px;
                            }
                        }
                        .end{
                            .btn{                               
                                border-top-right-radius: 38px;
                                border-bottom-right-radius: 38px;
                            }
                        }
                        .on{    
                            .btn{
                                color:#fff;
                                background-color:#ff404b;
                                border-radius:100%;
                            }         
                        }                       
                        .day{
                            .btn{
                                width:38px;
                                background-color: #ff404b;
                                border-radius: 1.7rem;
                                @include Bold;
                                color:#fff;   
                            }
                        }
                    }
                }
            }

            &.branch {
                padding: 50px 20px 35px 40px;
                background: #242424;
                .mCSB_inside > .mCSB_container {margin-right:0;}
                .m-tit {
                    @include Align-between;
                    .btn-red {
                        font-size: 12px;
                        border-radius: 5px;
                        height: 25px;
                        width: 70px;
                        margin-right: 5px;
                    }
                    .inputC{
                        @include Align-between;
                        label {
                            line-height: 1;
                            &:before{
                                background: url(../../resources-pc/images/icons/ico-check3-off.png) 0 0 no-repeat;
                                width: 14px;
                                height: 11px;
                            }
                            span{
                                font-size:16px;
                                color:#bbb;
                                @include Regular;
                            }
                        }
                        input:checked + label {
                            &:before{
                                background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
                            }
                            span{
                                color:#fff;
                            }
                        }
                    }
                }
                h2:before {
                    height: 27px;
                    background: url(../../resources-pc/images/icons/ico-main-branch.png) 0 0 no-repeat;
                }
                .shor-main-toggle-cont {
                    position: relative;
                    overflow: hidden;
                    height: 585px;
                    .shor-main-toggle-txt {
                        line-height: 1.4;
                        font-size:16px;
                        overflow: hidden;
                    }
                    // 내륙제주 버튼
                    .shor-main-list-tit{
                        padding:35px 0;
                        @include Align-between;
                        .iconList{
                            border:0 none;
                            border-radius: 0;
                            li{
                                padding-right: 5px;
                                label {
                                    width: 110px;
                                    height: 40px;
                                    background: #242424;
                                    border: 1px solid #666;
                                    border-radius: 50px;
                                    font-size:18px;
                                    @include Regular;
                                    color: #ddd;
                                }
                                input:checked + label {
                                    background: #ff404b;
                                    border-color: #ff404b;
                                    @include Bold;
                                    color: #fff;
                                }
                                input:disabled + label {
                                    background: #242424;
                                    border-color: #444;
                                    @include Bold;
                                    color: #4d4e4e;
                                }
                            }
                        }
                    }
                    // 다른지점 반납 버튼
                    .shor-main-list-branch{
                        display:none;
                        .short-branch-tab2{
                            @include Align-box;
                            li{
                                @include Align-middle;
                                height: 20px;
                                button {
                                    @include Align-middle;
                                    text-align: center;
                                    font-size: 16px;
                                    color: #aaa;
                                    margin: 0 5px;
                                }
                                &.active {
                                    button {
                                        border-bottom:1px solid #ce8d57;
                                        @include Bold;
                                        color: #ce8d57;
                                        //background: #fff9f9;
                                    }
                                }
                                label {
                                    border:0 none;
                                    background: #242424;
                                    font-size:16px;
                                    @include Regular;
                                    color:#aaa;
                                    height:auto;
                                    margin:0.9rem 0 .9rem 0;
                                }
                                input:checked + label {
                                    border-bottom:1px solid #ce8d57;
                                    @include Bold;
                                    color:#ce8d57;
                                }
                            }
                            li:nth-of-type(2):before{
                                display:inline-block;
                                content:"";
                                border-right:1px solid #aaa;
                                height:50%;
                                width: 1px;
                                margin: 0 5px;
                            }
                        }
                    }
                    .shor-main-list-wrap{
                        @include Align-box;
                        .shor-main-list-lt{
                            overflow-y: auto;
                            height: 475px;
                            width:50%;
                            padding:5px;
                            @include Align-box;
                            ul{
                                width:100%;
                            }
                        }
                        .shor-main-list-rt{
                            height: 475px;
                            width:50%;
                            padding:5px 0 5px 5px;
                            @include Align-box;
                            > div {
                                overflow-y: auto;
                                overflow-x: hidden;
                                height: 475px;
                                width: 100%;
                            }
                        }

                    }
                }
            }

            &.time {
                padding: 50px 30px 35px 30px;
                width: 260px;
                .m-time h2:before {
                    height: 30px;
                    width: 30px;
                    background: url(../../resources-pc/images/icons/ico-main-time.png) 0 0 no-repeat;
                }
                .m-car h2:before {
                    height: 30px;
                    width: 30px;
                    background: url(../../resources-pc/images/icons/ico-main-car.png) 0 0 no-repeat;
                }
                .car-list ul{
                    @include Align-box;
                    margin-top: 10px;
                    li {width: 50%;}
                }
                .time-list p {
                    padding: 30px 0 5px;
                    font-size: 14px;
                    color: #fff;
                }
                .m-car {
                    margin-top: 50px;
                }
                .selection-cont {
                    @include Align-between;
                    border-bottom: 1px solid #666;
                    .selectbox {
                        border: none;
                        background: url(../../resources-pc/images/icons/ico-arrow-down2.png) center right no-repeat;
                        height: 35px;
                        width: 40%;
                        padding:0 5px;
                        color: #aaa;
                        font-size: 16px;
                    }
                }
            }
        
         }
    }

    //예약내역
    .booking-path-wrap {
        height: 80px;
        margin-bottom: 40px;
        .inner {
            width: 100%;
            max-width: 1680px;
            min-width: 1420px;
        }
        .booking-result {
            position:relative;
            @include Align-between;
            width:1100px;
            height:80px;         
            background-color: #f5f5f5;
            &:before{
                content:"";
                @include Position($top: 0, $left: -99px);
                display:block;
                width:99px;
                height:80px;
                @include Background($sprite:'bg-gnb-round2', $position:0 0, $size:99px 80px, $path:'common');
            }
            .result-list {
                @include Align-between;
            }
            .tit {
               @include Bold;
               font-size: 18px;
               color: #3c3d3d; 
            }
            ul {
                @include Align-middle-right;
                padding-left: 5px;
                > li {
                    @include Align-middle-right;
                    font-size: 16px;
                    color: #54585a;
                    padding: 0 10px;
                    & + li{
                        &:before {
                            display: block;
                            content: '';
                            background: #c3c3c3;
                            height: 15px;
                            width: 1px;
                            margin-right: 15px;
                        }
                    }
                }
            }
            .booking-btn {
                @include Align-between;
                @include Bold;
                width: 260px;
                height: 80px;
                padding: 10px 75px 10px 40px;
                background: #ed1c24;
                color: #fff;
                font-size: 22px;
                &:after {
                    display: inline-block;
                    content: '';
                    width: 11px;
                    height: 18px;
                    background: url(../../resources-pc/images/icons/ico-main-arrow2.png) 0 0 no-repeat;
                    background-size: center auto;
                }
                &:disabled {
                    background: #eee;
                    color: #999;
                    &:after {
                        background: url(../../resources-pc/images/icons/ico-main-arrow3.png) 0 0 no-repeat; 
                    }
                }
            }
        }
    }

    // 서비스 바로가기
    .quick-menu-wrap {
        .q-tit {
            position: absolute;
            top: -85px;
            @include Bold;
            font-size: 28px;
            color: #2f2f2f;
        }
        .q-list {
            padding: 0 70px 55px;
            border-bottom: 1px solid #eee;
            ul {
                @include Align-between;
            }          
            a {
                @include Align-middle-column;
               font-size: 14px;
               color: #2f2f2f;
               > span {
                   width: 66px;
                   height: 50px;
                   margin-bottom: 20px;
                   //background-size: 100% auto;
                   background-position: center center;
                   background-repeat: no-repeat;
               }
               .ico-quick1 {background-image: url(../../resources-pc/images/icons/ico-main-quick8.png);}
               .ico-quick2 {background-image: url(../../resources-pc/images/icons/ico-main-quick3.png);}
               .ico-quick3 {background-image: url(../../resources-pc/images/icons/ico-main-quick6.png);}
               .ico-quick4 {background-image: url(../../resources-pc/images/icons/ico-main-quick7.png);}
               .ico-quick5 {background-image: url(../../resources-pc/images/icons/ico-main-quick9.png);}
               .ico-quick6 {background-image: url(../../resources-pc/images/icons/ico-main-quick5.png);}
               .ico-quick7 {background-image: url(../../resources-pc/images/icons/ico-main-quick1.png);}
               .ico-quick8 {background-image: url(../../resources-pc/images/icons/ico-main-quick2.png);}
            }
        }
    }

    //신차장 다이렉트 슬라이드
    .direct-section {
        .inner-type3{
            @include Align-between-top;
            width: 1800px;
            max-width: 1800px;
            padding: 100px 0 0 188px;
        }       
        .h-type {
            .btn-red {
                //width: 124px;
                height: 50px;
                margin-top: 50px;
            }
        }
        .direct-slide-wrap {
            width: 1160px;
            height: 480px;
            //margin-top: 50px;
            .img-wrap {
                position: relative;
                margin-left: 40px;
                padding-top: 20px;
                .img-box {
                    @include Align-middle;
                    background: #fafafa;
                    width: 360px;
                    height: 320px;                  
                    .num {
                        position: absolute;
                        top: -5px;
                        left: 40px;
                        font-size: 42px;
                        color: #8f9191;
                    }
                    .img {
                        width: 315px;
                        height: auto;
                        background-size: 100% auto;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .img-txt {
                    margin-top: 30px;
                    color: #8f9191;
                    font-size: 18px;
                    > strong {
                        font-size: 22px;
                        color: #2f2f2f;
                    }
                }
            }
            
        }
        .slick-dots {
            position: absolute;
            left: -454px;
            bottom: 138px;
            border-radius: 0;
            li {
                margin: 0 5px 0 0;
            }
            button {
                &:before {
                    width: 60px;
                    height: 20px;
                    border: none;
                    border-bottom: 1px solid #ddd;
                    border-radius: 0;
                    background: #fff;
                    box-sizing: border-box;
                }
            }
            .slick-active {
                button {
                    &:before {
                        height: 20px;
                        border: none;
                        border-bottom: 4px solid #2f2f2f;
                        background: #fff;
                        box-sizing: border-box;
                    }
                    &:after {
                        display: inline-block;
                        content: '';
                        width: 0;
                        transition: width .6s;
                    }
                }
            }
        }
    }

    //중고차 장기렌터카
    .secondhand-wrap {
        margin-top: 70px;
        background: url(../../resources-pc/images/common/bg-main-secondhand.png) 100% 10% repeat-x;
        .tab-type {
            @include Align-between-base;
            margin-top: 48px;
            ul {
                @include Align-middle-right;
                li {
                    vertical-align: bottom;
                    padding-right: 50px;
                    button{
                        font-size: 22px;
                        color: #54585a;
                    }
                    &.active button {
                        @include Bold;
                        font-size: 28px;
                        color: #2f2f2f;
                    }
                }
            }
        }
        .secondhand-slide-wrap {
            margin-top: 60px;
            //overflow: hidden;
            .swiper-container {
                height: 470px;
            }
            .swiper-wrapper {
                @include Align-top-left;
                width: 1420px;
                .slide-type {
                    width: 330px;
                    height: 440px;
                    margin-right: 30px;
                    background: #fff;
                    
                    img {
                        width: 330px;
                        height: 230px;
                        background-size: 100% auto;
                    }
                    .txt-type {
                        padding: 30px 20px;
                        color: #8f9191;
                        font-size: 16px;
                        border: 1px solid #f1f1f1;
                        border-top: 0 none;
                        .tit > strong {
                            @include Ellipsis($w:100%, $lines:1);
                            font-size: 18px;
                            color: #2f2f2f;
                            line-height: 1.5;
                        }
                        .t-list {
                            @include Align-top-left;
                            min-width:100%;

                            li {
                                flex-shrink: 0;
                                color: #8f9191;
                                font-size: 16px;
                                line-height: 1.5;
                                + li:before {
                                    display: inline-block;
                                    content: "";
                                    width: 1px;
                                    height: 14px;
                                    background: #d2d2d2;
                                    margin: 0 8px;
                                }
                                &:nth-of-type(3) {
                                    flex-shrink: 1;
                                    @include Ellipsis($lines:1);
                                    //@include Ellipsis($w:118px, $lines:1);
                                }
                            }
                            &:nth-of-type(3) {
                                @include Ellipsis($w:100px, $lines:1);
                            }
                        }
                        .t-spot {
                            margin-top: 20px;
                            span {
                                padding: 6px 9px;
                                background: #f4f4f4;
                                border-radius: 5px;
                                color: #2f2f2f;
                                font-size: 13px;
                                margin-right: 5px;
                            }
                        }
                        .t-red {margin-top: 25px;}
                    }
                }
            }
            .pagination-wrap {
                margin-top: 50px;
            }
        }
    }
    // 배너
    .banner-wrap {
        margin-top: 100px;
        .banner-slide-wrap {
            position: relative;
            .m-banner {
                img {
                    width: 100%;
                    height: 130px;
                    background-size: 100% auto;
                }
            }
        }
        .slick-dots {
            position: absolute;
            right: 20px;
            bottom: 15px;
            border-radius: 0;
            background: none;
            li {
                margin: 0 5px 0 0;
            }
            button {
                &:before {
                    width: 7px;
                    height: 7px;
                    margin: 0 4px;
                    background: #7b7673;
                    border-radius: 100%;
                    border: none;
                }
            }
            .slick-active {
                button {
                    &:before {
                        background: #fff;
                        border: none;
                    }
                    &:after {
                        display: inline-block;
                        content: '';
                        width: 0;
                        transition: width .6s;
                    }
                }
            }
        }


        .slick-dots {
            position: absolute;
            right: 20px;
            bottom: 15px;
            ul {
                @include Align-middle;
                button {
                    width: 7px;
                    height: 7px;
                    margin: 0 4px;
                    background: #7b7673;
                    border-radius: 100%;
                    font-size: 1px;
                    text-indent: -9999px;
                }
                .slick-active > button {
                    background: #fff;
                }
            }
        }
    }

    //핫딜 찬스
    .hotdeal-wrap {
        margin-top: 100px;
        background: url(../../resources-pc/images/common/bg-main-hotdeal.png) left 97% repeat-x;
        .hotdeal-twrap {
            @include Align-between-base;
            border-bottom: 1px solid #eee;
            padding-bottom: 40px;
        }
        .t-wrap {
            @include Align-middle;
            .flag-wrap {
                position: inherit;
                @include Align-bottom-middle;
                margin: 20px 0 0 50px;
                b, span {
                    @include Bold;
                    font-size: 30px;
                    color: #54585a;
                }
                b{
                    @include Align-top-column;
                    &.texRed {
                        color: #ed1c24;
                    }
                }
                span {
                    margin: -7px 20px 0;
                    color: #999;
                }
                i {
                    color: #8f9191;
                    font-size: 13px;
                    margin-top: 2px;
                }
                .d-day {
                    @include Align-middle-column;
                    position: relative;
                    background: linear-gradient(90deg, rgba(251,68,87,1) 0%, rgba(241,93,55,1) 100%);
                    width: 70px;
                    height: 70px;
                    margin-right: 30px;
                    border-radius: 100%;
                    @include Bold;
                    color: #fff;
                    font-size: 12px;
                    strong {
                        font-size: 22px;
                        color: #fff;
                    }
                    &:after {
                        display: inline-block;
                        content: "";
                        position: absolute;
                        right: 9px;
                        bottom: -1px;
                        width: 12px;
                        height: 12px;
                        background: url(../../resources-pc/images/bg-main-dday.png) no-repeat center center;
                    }
                }
            }
        }
        .btn-goLink {margin-bottom: 10px;}
        .hotdeal-slide-wrap {margin-top: 80px;}
        .hotdeal-slide-cont {
            @include Align-between;
            .slide-type a {
                @include Align-between-top;
                height: 325px;
                .txt-type {
                    position: relative;
                    width: 290px;
                    height: 270px;
                    margin-top: 10px;
                    color: #8f9191;
                    font-size: 22px;
                    .tit > strong {
                        @include Bold;
                        font-size: 24px;
                        color: #2f2f2f;
                        line-height: 1.5;
                    }
                    .t-red {
                        position: absolute;
                        bottom: 60px;
                    }
                    del {
                        position: absolute;
                        bottom: 100px;
                        @include Bold;
                        display: block;
                        margin-top: 30px;
                        font-size: 22px;
                        color: #ddd;
                        sub {
                            font-size: 14px;
                        }
                    }
                }
                .img {
                    position: relative;
                    //box-shadow: 10px 10px 10px gray;
                    &:after {
                        display: block;
                        content: "";
                        width: 360px;
                        height: 50px;
                        position: absolute;
                        bottom: -50px;
                        background: url(../../resources-pc/images/bg-main-hotdeal.png) repeat-x 0 0;
                    }
                    img {
                        width: 360px;
                        height: 280px;
                        background-size: 100% auto; 
                    } 
                    .flag {
                        @include Bold;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 74px;
                        height: 77px;
                        padding: 0 5px 10px;
                        background: url(../../resources-pc/images/icons/ico-main-flag.png) 0 0 no-repeat;
                        border-radius: inherit;
                        color: #fff;
                        font-size: 26px;
                        sub{
                            font-size: 16px;
                            vertical-align: baseline;
                        }
                    }
                }
            }
        }
        .pagination-wrap {
            padding: 15px 0 50px;
        }
    }

    //라이프
    .life-wrap {
        margin-top: 80px;
        .t-wrap {
            @include Align-between-base;
            .h-type {
                @include Align-top-left;
                align-items: flex-end;
                ul {
                    @include Align-top-left;
                    margin:0 30px 15px 30px;
                    li {
                        margin-right: 15px;
                        .btn-foot-sns {
                            border: none;
                            background: #8f9191;
                            padding: 0;
                        }
                        .snsB {
                            background-image: url(../../resources-pc/images/icons/ico-main-sns-blog.png);
                            width: 10px;
                            height: 14px;
                        }
                        .snsF {
                            background-image: url(../../resources-pc/images/icons/ico-main-sns-fb.png);
                            width: 10px;
                            height: 18px;
                        }
                        .snsI {
                            background-image: url(../../resources-pc/images/icons/ico-main-sns-insta.png);
                            width: 16px;
                            height: 16px;
                        }
                        .snsY {
                            background-image: url(../../resources-pc/images/icons/ico-main-sns-yt.png);
                            width: 16px;
                            height: 11px;
                        }
                        .snsK {
                            background-image: url(../../resources-pc/images/icons/ico-main-sns-kakao.png);
                            width: 21px;
                            height: 18px;
                        }
                    }
                }

                
            }
            
        }
        .life-list {
            @include Align-between;
            margin-top: 65px;
            border-bottom: 1px solid #eee;
            .life-type {
                width: 220px;
                height: 370px;
                img {
                    width: 220px;
                    height: 220px;
                    background-size: 100% auto;
                }
                h3 {
                    margin-top: 30px;
                    color: #54585a;
                    font-size: 18px;
                }
                p {
                    color: #8f9191;
                    font-size: 14px;
                }
            }
        }
    }

    //공지사항
    .notice-wrap {
        .notice-cont {
            @include Align-between;
            padding-right: 60px;
            margin-top: 45px;
        }
        .h-type {
            margin-top: -20px;
            p:after {
                display: inline-block;
                content: "";
                width: 56px;
                height: 34px;
                margin-left: 10px;
                background: url(../../resources-pc/images/icons/ico-main-notice.png) 0 0 no-repeat;
                background-size: 100% auto;
            }
            .btn-goLink {
                display: block;
                margin-top: 45px;
            }
        }
        .notice-list {
            /* display: flex;
            flex-flow: row wrap; */
            @include Align-box;
            width: 770px;
            li {
                @include Align-between-top;
                @include Bold;
                font-size: 22px;
                width: 350px;
                padding: 40px 0;
                &:after {
                    display: inline-block;
                    content: "";
                    width: 11px;
                    height: 22px;
                    background: url(../../resources-pc/images/icons/ico-main-arrow5.png) 0 0 no-repeat;
                    background-size: 100% auto;
                    margin-top: 5px;
                }
                &:nth-of-type(1), &:nth-of-type(2) {
                    border-bottom: 2px solid #2f2f2f;
                }
                &:nth-of-type(1), &:nth-of-type(3) {
                    margin-right: 70px;
                }
            }
        }
    }

    // select 커스텀
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    .m-selectbox {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #aaa;
        width: 40%;
        height: 35px;
    }
    .select-styled {
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* background-color: #da291c; */
        padding: 8px 15px;
        /* @include transition(all 0.2s ease-in); */
        &:after {
            content:"";
            width: 7px;
            height: 7px;
            border-left: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
            transform: rotate(-45deg);
            position: absolute;
            top: 12px;
            right: 0;
            }
            &:hover {
            /* background-color: darken(#c0392b, 2); */
            color: #fff;
            }
            &:active, &.active {
            /*  background-color: darken(#000, 5); */
            color: #fff;
            &:after {
                top: 17px;
                border-left: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                transform: rotate(135deg);
            }
        }
    }
    .select-options {
        display: none; 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 5px 0;
        list-style: none;
        background-color: #242424;
        border: 1px solid #666;
        li {
            margin: 0;
            padding: 2px 0;
            text-indent: 15px;
            &:hover {
            color: #fff;
            }
            &[rel="hide"] {
            display: none;
            }
        }
    }

}
