.icon {
    @include Vertical-inline;
    @include Hide_txt;
    flex: none;
    &.loginClose {
        @include Background($sprite:'ico-close', $position:center center);
        width: 15px;
        height: 15px;
    }
    &.stepsChk {
        @include Background($sprite:'ico-stepsChk', $position:center center);
        width: 12px;
        height: 12px;
    }
    &.fast {
        @include Background($sprite:'ico-estimate-btn1', $position:center center);
        width: 15px;
        height: 15px;
    }
    &.fast2 {
        @include Background($sprite:'ico-estimate-btn01', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.pro {
        @include Background($sprite:'ico-estimate-btn2', $position:center center);
        width: 15px;
        height: 15px;
        &.circle {
            border-radius: 100%;
            width: 30px;
            height: 30px;
            background-color: #02B174;
        }
    }
    &.pro2 {
        @include Background($sprite:'ico-estimate-btn02', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.filter {
        @include Background($sprite:'ico-select-off', $position:center center);
        width: 13px;
        height: 13px; 
    }
    &.reset {
        @include Background($sprite:'ico-reset', $position:center center);
        width: 16px;
        height: 16px;
    }
    &.info {
        @include Background($sprite:'ico-info', $position:center center);
        width: 20px;
        height: 20px;
    }
    &.info2 {
        @include Background($sprite:'ico-info2', $position:center center);
        width: 20px;
        height: 20px;
    }
    &.fuelG {
        @include Background($sprite:'ico-fuel-g', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelD {
        @include Background($sprite:'ico-fuel-d', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelL {
        @include Background($sprite:'ico-fuel-l', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelH {
        @include Background($sprite:'ico-fuel-h', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelE {
        @include Background($sprite:'ico-fuel-e', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.star {
        @include Background($sprite:'ico-star_off', $position:center center);
        width: 14px;
        height: 14px;
        &.active {
            @include Background($sprite:'ico-star_on', $position:center center);
        }
    }
    &.video {
        @include Background($sprite:'ico-play', $position:center center);
        width: 40px;
        height: 40px;
    }
    &.heart {
        @include Background($sprite:'ico-heart', $position:center center);
        width: 16px;
        height: 16px;
    }
    &.speak {
        @include Background($sprite:'ico-speak', $size:14px, $position:center center);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border:1px solid #EBEBEB;
    }
    &.app01 {
        @include Background($sprite:'ico-app01', $position:center center);
        width: 140px;
        height: 25px;
    }
    &.app02 {
        @include Background($sprite:'ico-app02', $position:center center);
        width: 129px;
        height: 29px;
    }
    &.snsB {
        @include Background($sprite:'ico-sns-blog', $position:center center);
        width: 10px;
        height: 14px;
    }
    &.snsT {
        @include Background($sprite:'ico-sns-tw', $position:center center);
        width: 18px;
        height: 13px;
    }
    &.snsF {
        @include Background($sprite:'ico-sns-fb', $position:center center);
        width: 10px;
        height: 18px;
    }
    &.snsI {
        @include Background($sprite:'ico-sns-insta', $position:center center);
        width: 16px;
        height: 16px;
    }
    &.snsK {
        @include Background($sprite:'ico-sns-kakao', $position:center center);
        width: 20px;
        height: 18px;
    }
    &.snsY {
        @include Background($sprite:'ico-sns-yt', $position:center center);
        width: 16px;
        height: 11px;
    }
    &.snsP {
        @include Background($sprite:'ico-sns-pt', $position:center center);
        width: 10px;
        height: 16px;
    }
    &.mypage {
        @include Background($sprite:'ico-mypage', $position:center center);
        width: 28px;
        height: 26px;
    }
    &.draw {
        @include Background($sprite:'ico-draw', $position:center center);
        width: 22px;
        height: 20px;
    }
    &.global {
        @include Background($sprite:'ico-global', $position:center center);
        width: 22px;
        height: 22px;
    }
    &.next02 {
        @include Background($sprite:'ico-next02', $position:center center);
        width: 5px;
        height: 10px;
    }
    &.login-naver {
        @include Background($sprite:'ico-login-naver', $position:center center);
        width: 18px;
        height: 17px;
    }
    &.login-kakao {
        @include Background($sprite:'ico-login-kakao', $position:center center);
        width: 23px;
        height: 22px;
    }
    &.login-fb {
        @include Background($sprite:'ico-login-fb', $position:center center);
        width: 13px;
        height: 24px;
    }
    &.lpoint-logo {
        @include Background($sprite:'ico-lpoint-logo', $position:center center);
        width: 356px;
        height: 43px;
    }
    &.lpoint {
        @include Background($sprite:'ico-lpoint', $size:100% auto, $position:center center);
        width: 39px;
        height: 14px;
    }
    &.data-new {
        @include Background($sprite:'ico-data-new', $position:center center);
        width: 15px;
        height: 15px;
    }
    &.home{
        @include Background($sprite:'ico-home', $position:center center);
        width: 18px;
        height: 18px;
    }
    &.share{
        @include Background($sprite:'ico-share', $position:center center);
        width: 22px;
        height: 24px;
        @include Hide_txt;
    }
    &.progress{
        @include Background($sprite:'ico-chk-off02', $position:center center);
        width: 32px;
        height: 32px;
    }
    &.complete{
        @include Background($sprite:'ico-chk-on02', $position:center center);
        width: 32px;
        height: 32px;
    }
    &.date{
        @include Background($sprite:'ico-date', $position:center center);
        width: 19px;
        height: 19px;
    }
    &.swiper-prev{
        @include Background($sprite:'ico-swiper-prev', $position:center center);
        width: 27px;
        height: 50px;
    }
    &.swiper-next{
        @include Background($sprite:'ico-swiper-next', $position:center center);
        width: 27px;
        height: 50px;
    }
    &.fb{
        @include Background($sprite:'ico-fb', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.ig{
        @include Background($sprite:'ico-ig', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.nb{
        @include Background($sprite:'ico-nb', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.np{
        @include Background($sprite:'ico-np', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.tw{ 
        @include Background($sprite:'ico-tw', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.yt{
        @include Background($sprite:'ico-yt', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.post{
        @include Background($sprite:'ico-po', $size:contain, $position:center center);
        width: 25px;
        height: 25px;
    }
    &.date2{
        @include Background($sprite:'ico-date2', $position:center center);
        width: 21px;
        height: 22px;
    }
    &.info3{
        @include Background($sprite:'ico-info3', $position:center center);
        width: 20px;
        height: 20px;
    }
    &.counsel{
        @include Background($sprite:'ico-counsel', $position:center center);
        width: 24px;
        height: 23px;
    }
    &.note{
        @include Background($sprite:'ico-note', $position:center center);
        width: 19px;
        height: 22px;
    }
    &.car{
        @include Background($sprite:'ico-car', $position:center center);
        width: 29px;
        height: 20px;
    }
    &.reset2{
        @include Background($sprite:'ico-reset2', $position:center center);
        width: 14px;
        height: 13px;
    }
    
    &.arrow-up{
        @include Background($sprite:'ico-arrow-up', $position:center center);
        width: 16px;
        height: 7px;
    }
    &.chk2{
        @include Background($sprite:'ico-chk2', $position:center center);
        width: 13px;
        height: 10px;
    }
    &.chk-on2{
        @include Background($sprite:'ico-chk-on2', $position:center center);
        width: 13px;
        height: 10px;
    }    
    &.chk3{
        @include Background($sprite:'ico-chk3', $position:center center);
        width: 16px;
        height: 19px;
    }
    &.car-spec01{
        @include Background($sprite:'ico-car-spec01', $position:center left);
        width: 21px;
        height: 17px;
    }
    &.car-spec02{
        @include Background($sprite:'ico-car-spec02', $position:left center);
        width: 20px;
        height: 20px;
    }
    &.car-spec03{
        @include Background($sprite:'ico-car-spec03', $position:left center);
        width: 18px;
        height: 21px;
    }
    &.car-spec04{
        @include Background($sprite:'ico-car-spec04', $position:left center);
        width: 21px;
        height: 20px;
    }
    &.car-spec05{
        @include Background($sprite:'ico-car-spec05', $position:left center);
        width: 17px;
        height: 18px;
    }
    &.talk{
        @include Background($sprite:'ico-talk', $position:center);
        width: 48px;
        height: 44px;
    }
    &.talk-small{
        @include Background($sprite:'ico-talk', $position:center, $size:contain);
        width: 40px;
        height: 30px;
    }
    &.talk2{
        @include Background($sprite:'ico-talk2', $position:center);
        width: 25px;
        height: 25px;
    }
    &.talk3{
        @include Background($sprite:'ico-talk3', $position:center);
        width: 34px;
        height: 31px;
    }
    &.arrow-link{
        @include Background($sprite:'ico-arrow-link', $position:center);
        width: 30px;
        height: 30px;
    }
    &.appStore{
        @include Background($sprite:'ico-appStore', $position:center);
        width: 22px;
        height: 27px;
    }
    &.googlePlay{
        @include Background($sprite:'ico-googlePlay', $position:center);
        width: 25px;
        height: 28px;
    }

    &.purchase-step01{
        @include Background($sprite:'ico-purchase-step01', $position:center);
        width: 93px;
        height: 98px;
    }
    &.purchase-step02{
        @include Background($sprite:'ico-purchase-step02', $position:center);
        width: 109px;
        height: 79px;
    }
    &.purchase-step03{
        @include Background($sprite:'ico-purchase-step03', $position:center);
        width: 106px;
        height: 70px;
    }
    &.purchase-step04{
        @include Background($sprite:'ico-purchase-step04', $position:center);
        width: 81px;
        height: 100px;
    }
    &.purchase-step05{
        @include Background($sprite:'ico-purchase-step05', $position:center);
        width: 93px;
        height: 95px;
    }
    &.purchase-step06{
        @include Background($sprite:'ico-purchase-step06', $position:center);
        width: 115px;
        height: 96px;
    }
    &.heart-off{
        @include Background($sprite:'ico-heart-off', $position:center);
        width: 24px;
        height: 25px;
    }
    &.heart-on{
        @include Background($sprite:'ico-heart-on', $position:center);
        width: 24px;
        height: 25px;
    }
    &.location{
        @include Background($sprite:'ico-location', $position:center);
        width: 14px;
        height: 18px;
    }
    &.tel{
        @include Background($sprite:'ico-tel', $position:center);
        width: 33px;
        height: 33px;
    }
    &.tel04{
        @include Background($sprite:'ico-tel4', $position:center);
        width: 43px;
        height: 43px;
    }
    &.info04{
        @include Background($sprite:'ico-info04', $position:center);
        width: 16px;
        height: 16px;
    }
    &.info05{
        @include Background($sprite:'ico-info05', $position:center);
        width: 16px;
        height: 16px;
    }
    &.certi-card{
        @include Background($sprite:'ico-certi-card', $position:center);
        width: 106px;
        height: 71px;
    }
    &.certi-phone{
        @include Background($sprite:'ico-certi-phone', $position:center);
        width: 67px;
        height: 91px;
    }
    &.certi-pc{
        @include Background($sprite:'ico-certi-pc', $position:center);
        width: 118px;
        height: 101px;
    }
    &.pannel01{
        @include Background($sprite:'ico-pannel01', $position:center);
        width: 57px;
        height: 41px;
    }
    &.pannel02{
        @include Background($sprite:'ico-pannel02', $position:center);
        width: 43px;
        height: 43px;
    }
    &.pannel03{
        @include Background($sprite:'ico-pannel03', $position:center);
        width: 65px;
        height: 48px;
    }
    &.pannel04{
        @include Background($sprite:'ico-pannel04', $position:center);
        width: 68px;
        height: 45px;
    }
    &.pannel05{
        @include Background($sprite:'ico-pannel05', $position:center);
        width: 69px;
        height: 45px;
    }
    &.pannel06{
        @include Background($sprite:'ico-pannel06', $position:center);
        width: 43px;
        height: 45px;
    }
    &.pannel07{
        @include Background($sprite:'ico-pannel07', $position:center);
        width: 38px;
        height: 44px;
    }
    &.pannel08{
        @include Background($sprite:'ico-pannel08', $position:center);
        width: 41px;
        height: 11px;
    }
    &.pannel09{
        width: 66px;
        height: 64px;
        @include Background($sprite:'ico-pannel09', $position:center);
    }
    &.pannel10{
        width: 66px;
        height: 56px;
        @include Background($sprite:'ico-pannel10', $position:center);
    }
    &.pannel11{
        width: 50px;
        height: 61px;
        @include Background($sprite:'ico-pannel11', $position:center);
    }
    &.pannel12{
        width: 72px;
        height: 58px;
        @include Background($sprite:'ico-pannel12', $position:center);
    }
    &.pannel13{
        width: 50px;
        height: 63px;
        @include Background($sprite:'ico-pannel13', $position:center);
    }
    &.pannel14{
        width: 50px;
        height: 63px;
        @include Background($sprite:'ico-pannel14', $position:center);
    }
    &.pannel15{
        width: 77px;
        height: 55px;
        @include Background($sprite:'ico-pannel15', $position:center);
    }
    &.pannel16{
        width: 66px;
        height: 55px;
        @include Background($sprite:'ico-pannel16', $position:center);
    }
    &.pannel17{
        width: 67px;
        height: 57px;
        @include Background($sprite:'ico-pannel17', $position:center);
    }
    &.pannel18{
        width: 62px;
        height: 57px;
        @include Background($sprite:'ico-pannel18', $position:center);
    }
    &.pannel19{
        width: 66px;
        height: 51px;
        @include Background($sprite:'ico-pannel19', $position:center);
    }
    &.pannel20{
        width: 66px;
        height: 52px;
        @include Background($sprite:'ico-pannel20', $position:center);
    }
    &.pannel21{
        width: 49px;
        height: 56px;
        @include Background($sprite:'ico-pannel21', $position:center);
    }
    &.pannel22{
        width: 42px;
        height: 53px;
        @include Background($sprite:'ico-pannel22', $position:center);
    }
    &.pannel23{
        width: 62px;
        height: 52px;
        @include Background($sprite:'ico-pannel23', $position:center);
    }
    &.pannel24{
        width: 93px;
        height: 97px;
        @include Background($sprite:'ico-pannel24', $position:center);
    }
    &.pannel25{
        width: 110px;
        height: 95px;
        @include Background($sprite:'ico-pannel25', $position:center);
    }
    &.pannel26{
        width: 109px;
        height: 79px;
        @include Background($sprite:'ico-pannel26', $position:center);
    }
    &.pannel27{
        width: 117px;
        height: 100px;
        @include Background($sprite:'ico-pannel27', $position:center);
    }
    &.pannel28{
        width: 93px;
        height: 97px;
        @include Background($sprite:'ico-pannel28', $position:center);
    }
    &.pannel29{
        width: 110px;
        height: 87px;
        @include Background($sprite:'ico-pannel29', $position:center);
    }
    &.pannel30{
        width: 110px;
        height: 72px;
        @include Background($sprite:'ico-pannel30', $position:center);
    }
    &.pannel31{
        width: 76px;
        height: 64px;
        @include Background($sprite:'ico-pannel31', $position:center);
    }
    &.pannel32{        
        width: 50px;
        height: 61px;
        @include Background($sprite:'ico-pannel32', $position:center);
    }
    &.pannel33{        
        width: 50px;
        height: 89px;
        @include Background($sprite:'ico-pannel33', $position:center);
    }
    &.pannel34{        
        width: 67px;
        height: 50px;
        @include Background($sprite:'ico-pannel34', $position:center);
    }
    &.pannel35{        
        width: 91px;
        height: 78px;
        @include Background($sprite:'ico-pannel35', $position:center);
    }
    &.pannel36{        
        width: 190px;
        height: 59px;
        @include Background($sprite:'ico-pannel36', $position:center);
    }
    &.pannel37{        
        width: 50px;
        height: 68px;
        @include Background($sprite:'ico-pannel37', $position:center);
    }
    &.pannel38{        
        width: 67px;
        height: 60px;
        @include Background($sprite:'ico-pannel38', $position:center);
    }
    &.pannel39{        
        width: 43px;
        height: 59px;
        @include Background($sprite:'ico-pannel39', $position:center);
    }
    &.pannel40{        
        width: 50px;
        height: 61px;
        @include Background($sprite:'ico-pannel40', $position:center);
    }
    &.pannel41{        
        width: 66px;
        height: 65px;
        @include Background($sprite:'ico-pannel41', $position:center);
    }
    &.pannel42{        
        width: 46px;
        height: 65px;
        @include Background($sprite:'ico-pannel42', $position:center);
    }
    &.pannel43{
        @include Background($sprite:'ico-pannel43', $position:center);
        width: 54px;
        height: 55px;
    }
    &.pannel44{
        @include Background($sprite:'ico-pannel44', $position:center);
        width: 60px;
        height: 47px;
    }
    &.pannel45{
        @include Background($sprite:'ico-pannel45', $position:center);
        width: 126px;
        height: 93px;
    }
    &.pannel46{
        @include Background($sprite:'ico-pannel46', $position:center);
        width: 141px;
        height: 86px;
    }
    &.pannel47{
        width: 59px;
        height: 64px;
        @include Background($sprite:'ico-pannel47', $position:center);
    }
    &.pannel48{
        width: 71px;
        height: 58px;
        @include Background($sprite:'ico-pannel48', $position:center);
    }
    &.pannel49{
        width: 55px;
        height: 89px;
        @include Background($sprite:'ico-pannel49', $position:center);
    }
    &.pannel50{
        width: 59px;
        height: 59px;
        @include Background($sprite:'ico-pannel50', $position:center);
    }
    &.pannel51{
        @include Background($sprite:'ico-pannel51', $position:center);
        width: 66px;
        height: 56px;
    }
    &.pannel52{
        @include Background($sprite:'ico-pannel52', $position:center);
        width: 51px;
        height: 65px;
    }
    &.pannel53{
        @include Background($sprite:'ico-pannel53', $position:center);
        width: 59px;
        height: 57px;
    }
    &.pannel54{
        @include Background($sprite:'ico-pannel54', $position:center);
        width: 59px;
        height: 57px;
    }
    &.pannel55{
        @include Background($sprite:'ico-pannel55', $position:center);
        width: 82px;
        height: 30px;
    }

    &.pannel56{
        @include Background($sprite:'ico-pannel56', $position:center);
        width: 52px;
        height: 66px;
    }
    &.pannel57{
        @include Background($sprite:'ico-pannel57', $position:center);
        width: 60px;
        height: 66px;
    }
    &.pannel58{
        @include Background($sprite:'ico-pannel58', $position:center);
        width: 60px;
        height: 36px;
    }
    &.pannel59{
        @include Background($sprite:'ico-pannel59', $position:center);
        width: 70px;
        height: 54px;
    }
    &.pannel60{
        @include Background($sprite:'ico-pannel60', $position:center);
        width: 83px;
        height: 48px;
    }
    &.pannel61{
        @include Background($sprite:'ico-pannel61', $position:center);
        width: 73px;
        height: 62px;
    }
    &.pannel62{
        @include Background($sprite:'ico-pannel62', $position:center);
        width: 44px;
        height: 66px;
    }
    &.pannel63{
        @include Background($sprite:'ico-pannel63', $position:center);
        width: 62px;
        height: 61px;
    }
    &.pannel64{
        @include Background($sprite:'ico-pannel64', $position:center);
        width: 68px;
        height: 57px;
    }

    &.fee01{
        @include Background($sprite:'ico-fee01', $position:center);
        width: 66px;
        height: 56px;
    }
    &.fee02{
        @include Background($sprite:'ico-fee02', $position:center);
        width: 54px;
        height: 55px;
    }
    &.fee03{
        @include Background($sprite:'ico-fee03', $position:center);
        width: 60px;
        height: 47px;
    }
    &.fee04{
        @include Background($sprite:'ico-fee04', $position:center);
        width: 43px;
        height: 59px;
    }
    &.etc-info01{
        @include Background($sprite:'ico-etc-info01', $position:center);
        width: 71px;
        height: 58px;
    }
    &.etc-info02{
        @include Background($sprite:'ico-etc-info02', $position:center);
        width: 76px;
        height: 58px;
    }
    &.etc-info03{
        @include Background($sprite:'ico-etc-info03', $position:center);
        width: 50px;
        height: 61px;
    }
    &.pop-close{
        @include Background($sprite:'ico-pop-close', $position:center);
        width: 29px;
        height: 29px;
    }
    &.person{
        @include Background($sprite:'ico-person', $position:center);
        width: 19px;
        height: 18px;
    }
    &.amount{
        @include Background($sprite:'ico-amount', $position:center);
        width: 19px;
        height: 17px;
    }
    &.pop-info{
        @include Background($sprite:'ico-pop-info', $position:center);
        width: 17px;
        height: 19px;
    }
    &.list{
        @include Background($sprite:'ico-list', $position:center);
        width: 19px;
        height: 17px;
    }
    &.list2{
        @include Background($sprite:'ico-list2', $position:center);
        width: 19px;
        height: 17px;
    }
    &.heart2-off{
        @include Background($sprite:'ico-heart2-off', $position:center);
        width: 18px;
        height: 16px;
    }
    &.heart2-on{
        @include Background($sprite:'ico-heart2-on', $position:center);
        width: 18px;
        height: 16px;
    }
    &.question-white{
        @include Background($sprite:'ico-question-white', $position:center);
        width: 16px;
        height: 16px;
    }
    &.question-grey{
        @include Background($sprite:'ico-question-grey', $position:center);
        width: 16px;
        height: 16px;
    }
    &.marker {
        @include Background($sprite:'ico-marker', $size:100% auto, $position:center center);
        width: 30px;
		height: 30px;
    }
    &.chk-grey {
        @include Background($sprite:'ico-chk-grey', $position:center center);
        width: 20px;
		height: 20px;
    }
    &.add {
        @include Background($sprite:'ico-add', $position:center center);
        width: 40px;
		height: 40px;
    }
    &.del {
        @include Background($sprite:'ico-del', $position:center center);
        width: 19px;
		height: 19px;
    }
    &.del-black {
        @include Background($sprite:'ico-del-black', $position:center center);
        width: 19px;
		height: 19px;
    }
    &.registerCar01 {
        @include Background($sprite:'ico-registerCar01', $position:center center);
        width: 79px;
		height: 62px;
    }
    &.registerCar02 {
        @include Background($sprite:'ico-registerCar02', $position:center center);
        width: 79px;
		height: 62px;
    }
    &.registerCar03 {
        @include Background($sprite:'ico-registerCar03', $position:center center);
        width: 110px;
		height: 62px;
    }
    &.registerCar04 {
        @include Background($sprite:'ico-registerCar04', $position:center center);
        width: 110px;
		height: 62px;
    }
    &.registerCar05 {
        @include Background($sprite:'ico-registerCar05', $position:center center);
        width: 109px;
		height: 70px;
    }
    
    &.link {
        @include Background($sprite:'ico-link', $position:center center);
        width: 19px;
		height: 19px;
    }
    &.pay {
        @include Background($sprite:'ico-pay', $position:center center);
        width: 32px;
		height: 32px;
    }
    &.myPannel01 {
        @include Background($sprite:'ico-myPannel01', $position:center center);
        width: 43px;
		height: 48px;
    }
    &.myPannel02 {
        @include Background($sprite:'ico-myPannel02', $position:center center);
        width: 48px;
		height: 48px;
    }
    &.myPannel03 {
        @include Background($sprite:'ico-myPannel03', $position:center center);
        width: 58px;
		height: 40px;
    }
    &.myPannel04 {
        @include Background($sprite:'ico-myPannel04', $position:center center);
        width: 53px;
		height: 40px;
    }
    &.myPannel05 {
        @include Background($sprite:'ico-myPannel05', $position:center center);
        width: 39px;
		height: 48px;
    }
    &.myPannel06 {
        @include Background($sprite:'ico-myPannel06', $position:center center);
        width: 43px;
		height: 42px;
    }
    &.myPannel07 {
        @include Background($sprite:'ico-myPannel07', $position:center center);
        width: 36px;
		height: 46px;
    }
    &.magnifier {
        @include Background($sprite:'ico-magnifier', $position:center center);
        width: 35px;
		height: 35px;
    }
    &.coupon {
        @include Background($sprite:'ico-coupon', $position:center center);
        width: 28px;
		height: 21px;
    }
    &.etc-option01 {
        @include Background($sprite:'ico-realtime-etcoption01', $position:center center);
        width: 25px;
		height: 31px;
    }
    &.etc-option02 {
        @include Background($sprite:'ico-realtime-etcoption02', $position:center center);
        width: 35px;
		height: 27px;
    }
    &.etc-option03 {
        @include Background($sprite:'ico-realtime-etcoption03', $position:center center);
        width: 35px;
		height: 33px;
    }
    &.etc-option04 {
        @include Background($sprite:'ico-realtime-etcoption04', $position:center center);
        width: 35px;
		height: 27px;
    }
    &.etc-option05 {
        @include Background($sprite:'ico-realtime-etcoption05', $position:center center);
        width: 35px;
		height: 27px;
    }
    &.etc-option06 {
        @include Background($sprite:'ico-realtime-etcoption06', $position:center center);
        width: 28px;
		height: 28px;
    }
    &.tooltip {
        @include Background($sprite:'ico-tooltip', $size:100% auto, $position:center center);
        width: 21px;
        height: 21px;
    }
    &.coop-date {
        @include Background($sprite:'ico-cooper-date', $size:100% auto, $position:center center);
        width: 26px;
        height: 26px;
    }
    &.coop-clock {
        @include Background($sprite:'ico-cooper-clock', $size:100% auto, $position:center center);
        width: 28px;
        height: 28px;
    }
    &.coop-map {
        @include Background($sprite:'ico-cooper-map', $size:100% auto, $position:center center);
        width: 28px;
        height: 28px;
    }
    &.enroll {
        min-width:130px;
        min-height:40px;
        &01 {
            @include Background($sprite:'ico-enroll01', $position:center 0, $path:'logos');
        }
        &02 {
            @include Background($sprite:'ico-enroll02', $position:center 0, $path:'logos');
        }
        &03 {
            @include Background($sprite:'ico-enroll03', $position:center 0, $path:'logos');
        }
        &04 {
            @include Background($sprite:'ico-enroll04', $position:center 0, $path:'logos');
        }
        &05 {
            @include Background($sprite:'ico-enroll05', $position:center 0, $path:'logos');
        }
        &06 {
            @include Background($sprite:'ico-enroll06', $position:center 0, $path:'logos');
        }
        &07 {
            @include Background($sprite:'ico-enroll07', $position:center 0, $path:'logos');
        }
        &08 {
            @include Background($sprite:'ico-enroll08', $position:center 0, $path:'logos');
        }
    }
    &.circle {   
        $icon-circle-width: 110px;
        $icon-circle-height: 110px;     

        &-car01 {
            width: $icon-circle-width;
            height: $icon-circle-height;

            @include Background($sprite:'ico-circle-car01', $position:center center);
        }
        &-car02 {
            width: $icon-circle-width;
            height: $icon-circle-height;

            @include Background($sprite:'ico-circle-car02', $position:center center);
        }
        &-car03 {
            width: $icon-circle-width;
            height: $icon-circle-height;

            @include Background($sprite:'ico-circle-car03', $position:center center);
        }
        &-enjoy01 {
            width: $icon-circle-width;
            height: $icon-circle-height;

            @include Background($sprite:'ico-circle-enjoy01', $position:center center);
        }
        &-enjoy02 {
            width: $icon-circle-width;
            height: $icon-circle-height;

            @include Background($sprite:'ico-circle-enjoy02', $position:center center);
        }
        &-enjoy03 {
            width: $icon-circle-width;
            height: $icon-circle-height;
            
            @include Background($sprite:'ico-circle-enjoy03', $position:center center);
        }
    }
    &.benefit {
        &01 {
            width:43px;
            height:55px;
            @include Background($sprite:'ico-benefit01', $position:center center);
        }
        &02 {
            width:122px;
            height:31px;
            @include Background($sprite:'ico-benefit02', $position:center center);
        }
        &03 {
            width:30px;
            height:48px;
            @include Background($sprite:'ico-benefit03', $position:center center);
        }
        &04 {
            width:44px;
            height:44px;
            @include Background($sprite:'ico-benefit04', $position:center center);
        }
        &05 {
            width:62px;
            height:52px;
            @include Background($sprite:'ico-benefit05', $position:center center);
        }
        &06 {
            width:51px;
            height:51px;
            @include Background($sprite:'ico-benefit06', $position:center center);
        }
        &07 {
            width:66px;
            height:20px;
            @include Background($sprite:'ico-benefit07', $position:center center);
        }
        &08 {
            width:35px;
            height:19px;
            @include Background($sprite:'ico-benefit08', $position:center center);
        }
        &09 {
            width:26px;
            height:18px;
            @include Background($sprite:'ico-benefit09', $position:center center);
        }
        &10 {
            width:24px;
            height:18px;
            @include Background($sprite:'ico-benefit10', $position:center center);
        }
    }

    &.benefit-pannel01{
        width:92px;
        height:55px;
        @include Background($sprite:'ico-benefit-pannel01', $position:center center);
    }
    &.benefit-pannel02{
        width:99px;
        height:53px;
        @include Background($sprite:'ico-benefit-pannel02', $position:center center);
    }
    &.benefit-pannel03{
        width:71px;
        height:56px;
        @include Background($sprite:'ico-benefit-pannel03', $position:center center);
    }
    &.payment-card {
        width:28px;
        height:20px;
        @include Background($sprite:'ico-payment-card', $position:center center);
    }
    &.print {
        width:20px;
        height:22px;
        @include Background($sprite:'ico-print', $position:center center);
    }
    &.time {
        width:17px;
        height:17px;
        @include Background($sprite:'ico-time', $position:center center);
    }
    &.time2 {
        width:16px;
        height:16px;
        @include Background($sprite:'ico-time2', $position:center center);
    }
    &.tel2 {
        width:15px;
        height:16px;
        @include Background($sprite:'ico-tel2', $position:center center);
    }
    &.jeju-auto-pannel01{
        width:33px;
        height:56px;
        @include Background($sprite:'ico-jeju-auto-pannel01', $position:center center);
    }
    &.jeju-auto-pannel02{
        width:66px;
        height:55px;
        @include Background($sprite:'ico-jeju-auto-pannel02', $position:center center);
    }
    &.jeju-auto-pannel03{
        width:54px;
        height:47px;
        @include Background($sprite:'ico-jeju-auto-pannel03', $position:center center);
    }
    &.jeju-auto-pannel04{
        width:65px;
        height:32px;
        @include Background($sprite:'ico-jeju-auto-pannel04', $position:center center);
    }
    &.jeju-auto-pannel05{
        width:66px;
        height:44px;
        @include Background($sprite:'ico-jeju-auto-pannel05', $position:center center);
    }
    &.jeju-auto-pannel06{
        width:56px;
        height:58px;
        @include Background($sprite:'ico-jeju-auto-pannel06', $position:center center);
    }
    &.jeju-auto-pannel07{
        width:42px;
        height:62px;
        @include Background($sprite:'ico-jeju-auto-pannel07', $position:center center);
    }
    &.jeju-auto-pannel08{
        width:51px;
        height:46px;
        @include Background($sprite:'ico-jeju-auto-pannel08', $position:center center);
    }   
    &.loading-next{
        width:120px;
        height:120px;
        @include Background($sprite:'ico-loading', $type:'gif', $position:center center);
        border-radius: 100%;
    }
    &.loading-normal{
        width:120px;
        height:120px;
        @include Background($sprite:'ico-loading2', $type:'gif', $position:center center);
        border-radius: 100%;
    }
    &.error{
        width:100px;
        height:84px;
        @include Background($sprite:'ico-error', $position:center center);
    }
    &.additional-pannel01{
        width:67px;
        height:50px;
        @include Background($sprite:'ico-additional-pannel01', $position:center center);
    }
    &.additional-pannel02{
        width:42px;
        height:62px;
        @include Background($sprite:'ico-additional-pannel02', $position:center center);
    }
    &.additional-pannel03{
        width:66px;
        height:51px;
        @include Background($sprite:'ico-additional-pannel03', $position:center center);
    }
    &.email{
        width:23px;
        height:23px;
        @include Background($sprite:'ico-email', $position:center center);
    }
    &.tel3{
        width:23px;
        height:23px;
        @include Background($sprite:'ico-tel3', $position:center center);
    }
    &.notice-pannel01{
        width:23px;
        height:23px;
        @include Background($sprite:'ico-notice-pannel01', $position:center center);
    }
    &.share-sns-ka{
        width:23px;
        height:21px;
        @include Background($sprite:'ico-share-sns-kakao', $position:center center);
    }
    &.share-sns-in{
        width:21px;
        height:21px;
        @include Background($sprite:'ico-share-sns-insta', $position:center center);
    }
    &.share-sns-tw{
        width:23px;
        height:17px;
        @include Background($sprite:'ico-share-sns-tw', $size:100% auto, $position:center center);
    }
    &.share-sns-fb{
        width:10px;
        height:20px;
        @include Background($sprite:'ico-share-sns-fb', $position:center center);
    }
    &.share-sns-bd{
        width:15px;
        height:20px;
        @include Background($sprite:'ico-share-sns-bd', $position:center center);
    }
    &.share-sns-ks{
        width:10px;
        height:19px;
        @include Background($sprite:'ico-share-sns-ks', $position:center center);
    }
    &.share-sns-lk{
        width:19px;
        height:19px;
        @include Background($sprite:'ico-share-sns-link', $position:center center);
    }
    &.bad{
        width:27px;
        height:27px;
        @include Background($sprite:'ico-bad', $position:center center);
    }
    &.good{
        width:27px;
        height:27px;
        @include Background($sprite:'ico-good', $position:center center);
    }
    
    &.carOption01{
        width:31px;
        height:59px;
        @include Background($sprite:'ico-carOption01', $position:center center);

        &-off{
            width:31px;
            height:59px;
            @include Background($sprite:'ico-carOption01-off', $position:center center);
        }
    }
    &.carOption02{
        width:71px;
        height:44px;
        @include Background($sprite:'ico-carOption02', $position:center center);

        &-off{
            width:71px;
            height:44px;
            @include Background($sprite:'ico-carOption02-off', $position:center center);
        }
    }
    &.carOption03{
        width:52px;
        height:59px;
        @include Background($sprite:'ico-carOption03', $position:center center);

        &-off{
            width:52px;
            height:59px;
            @include Background($sprite:'ico-carOption03-off', $position:center center);
        }
    }
    &.carOption04{
        width:46px;
        height:59px;
        @include Background($sprite:'ico-carOption04', $position:center center);

        &-off{
            width:46px;
            height:59px;
            @include Background($sprite:'ico-carOption04-off', $position:center center);
        }
    }
    &.carOption05{
        width:46px;
        height:59px;
        @include Background($sprite:'ico-carOption05', $position:center center);

        &-off{
            width:46px;
            height:59px;
            @include Background($sprite:'ico-carOption05-off', $position:center center);
        }
    }
    &.carOption06{
        width:47px;
        height:59px;
        @include Background($sprite:'ico-carOption06', $position:center center);

        &-off{
            width:47px;
            height:59px;
            @include Background($sprite:'ico-carOption06-off', $position:center center);
        }
    }
    &.carOption07{
        width:60px;
        height:60px;
        @include Background($sprite:'ico-carOption07', $position:center center);

        &-off{
            width:60px;
            height:60px;
            @include Background($sprite:'ico-carOption07-off', $position:center center);
        }
    }
    &.carOption08{
        width:61px;
        height:56px;
        @include Background($sprite:'ico-carOption08', $position:center center);

        &-off{
            width:61px;
            height:56px;
            @include Background($sprite:'ico-carOption08-off', $position:center center);
        }
    }
    &.carOption09{
        width:54px;
        height:56px;
        @include Background($sprite:'ico-carOption09', $position:center center);

        &-off{
            width:54px;
            height:56px;
            @include Background($sprite:'ico-carOption09-off', $position:center center);
        }
    }
    &.carOption10{
        width:71px;
        height:29px;
        @include Background($sprite:'ico-carOption10', $position:center center);

        &-off{
            width:71px;
            height:29px;
            @include Background($sprite:'ico-carOption10-off', $position:center center);
        }
    }
    &.carOption11{
        width:60px;
        height:50px;
        @include Background($sprite:'ico-carOption11', $position:center center);

        &-off{
            width:60px;
            height:50px;
            @include Background($sprite:'ico-carOption11-off', $position:center center);
        }
    }
    &.carOption12{
        width:60px;
        height:34x;
        @include Background($sprite:'ico-carOption12', $position:center center);

        &-off{
            width:60px;
            height:34x;
            @include Background($sprite:'ico-carOption12-off', $position:center center);
        }
    }
    &.carOption13{
        width:54px;
        height:53px;
        @include Background($sprite:'ico-carOption13', $position:center center);

        &-off{
            width:54px;
            height:53px;
            @include Background($sprite:'ico-carOption13-off', $position:center center);
        }
    }
    &.carOption14{
        width:35px;
        height:56px;
        @include Background($sprite:'ico-carOption14', $position:center center);

        &-off{
            width:35px;
            height:56px;
            @include Background($sprite:'ico-carOption14-off', $position:center center);
        }
    }
    &.carOption15{
        width:60px;
        height:42px;
        @include Background($sprite:'ico-carOption15', $position:center center);

        &-off{
            width:60px;
            height:42px;
            @include Background($sprite:'ico-carOption15-off', $position:center center);
        }
    }
    &.carOption16{
        width:54px;
        height:54px;
        @include Background($sprite:'ico-carOption16', $position:center center);

        &-off{
            width:54px;
            height:54px;
            @include Background($sprite:'ico-carOption16-off', $position:center center);
        }
    }
    &.zoom{
        width:38px;
        height:38px;
        @include Background($sprite:'ico-zoom', $position:center center);
    }
    &.zoom-out{
        width:76px;
        height:76px;
        @include Background($sprite:'ico-zoom-out', $position:center center);
    }
    &.brand-all{
        width:53px;
        height:37px;
        @include Background($sprite:'ico-brand-all', $position:center center, $path:'logos', $size:contain);
    }
    &.car2{
        width:29px;
        height:23px;
        @include Background($sprite:'ico-car2', $position:center center, $size:contain);
    }
    &.location2{
        width:23px;
        height:28px;
        @include Background($sprite:'ico-location2', $position:center center, $size:contain);
    }
    &.period{
        width:25px;
        height:24px;
        @include Background($sprite:'ico-period', $position:center center, $size:contain);
    }
}

//차 제조사
.symbol {
    @include Align-middle;
    width:64px;
    height: 37px;
    
    &.chevrolet {
        @include Background($sprite:'symbol-chevrolet-off', $position:center, $path:'logos', $size:contain);
    }
    &.etc {
        @include Background($sprite:'symbol-etc-off', $position:center, $path:'logos', $size:contain);
    }
    &.hyundai {
        @include Background($sprite:'symbol-hyundai-off', $position:center, $path:'logos', $size:contain);
    }
    &.kia {
        @include Background($sprite:'symbol-kia-off', $position:center, $path:'logos', $size:contain);
    }
    &.renault {
        @include Background($sprite:'symbol-renault-off', $position:center, $path:'logos', $size:contain);
    }
    &.ssangyong {
        @include Background($sprite:'symbol-ssangyong-off', $position:center, $path:'logos', $size:contain);
    }
}
//차 로고
.carLogo{
    @include Align-middle;
    width:100%;
    height: 40px;
    
    &.brand-all{
        @include Background($sprite:'carLogo-brand-all', $position:center center, $path:'logos', $size:auto);
    }
    &.chevrolet {
        @include Background($sprite:'carLogo-chevrolet', $position:center, $path:'logos', $size:auto);
    }
    &.etc {
        @include Background($sprite:'carLogo-etc', $position:center, $path:'logos', $size:auto);
    }
    &.hyundai {
        @include Background($sprite:'carLogo-hyundai', $position:center, $path:'logos', $size:auto);
    }
    &.kia {
        @include Background($sprite:'carLogo-kia', $position:center, $path:'logos', $size:auto);
    }
    &.renault {
        @include Background($sprite:'carLogo-renault', $position:center, $path:'logos', $size:auto);
    }
    &.benz {
        @include Background($sprite:'carLogo-benz', $position:center, $path:'logos', $size:auto);
    }
    &.bmw {
        @include Background($sprite:'carLogo-bmw', $position:center, $path:'logos', $size:auto);
    }
    &.ssangyong {
        @include Background($sprite:'carLogo-ssangyong', $position:center, $path:'logos', $size:auto);
    }
}
.chk-box{
    input:checked + label{
        .carLogo{
            &.chevrolet {
                @include Background($sprite:'carLogo-chevrolet-on', $position:center, $path:'logos', $size:auto);
            }
            &.etc {
                @include Background($sprite:'carLogo-etc-on', $position:center, $path:'logos', $size:auto);
            }
            &.hyundai {
                @include Background($sprite:'carLogo-hyundai-on', $position:center, $path:'logos', $size:auto);
            }
            &.kia {
                @include Background($sprite:'carLogo-kia-on', $position:center, $path:'logos', $size:auto);
            }
            &.renault {
                @include Background($sprite:'carLogo-renault-on', $position:center, $path:'logos', $size:auto);
            }
            &.benz {
                @include Background($sprite:'carLogo-benz-on', $position:center, $path:'logos', $size:auto);
            }
            &.bmw {
                @include Background($sprite:'carLogo-bmw-on', $position:center, $path:'logos', $size:auto);
            }
            &.ssangyong {
                @include Background($sprite:'carLogo-ssangyong-on', $position:center, $path:'logos', $size:auto);
            }
        }
    }
}

//캐스케이드
button.active .filter{
    @include Background($sprite:'ico-select-on', $position:center center);
}


.flag {
    height: 20px;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 1;
    @include Inline-align-middle;
    @include Normal;
    &.best {
        border: 1px solid #25C1D6;
        color: #25C1D6;
        margin-left: 5px;
        @include Bold;
    }
    &.low {
        border: 1px solid #9198FF;
        color: #9198FF;
        margin-left: 5px;
        @include Bold;
    }
    &.hot {
        border: 1px solid #20BBC4;
        color: #20BBC4;
        @include Bold;
    }
    &.think {
        border: 1px solid #5793E5;
        color: #5793E5;
        @include Bold;
    }
    &.battle {
        border: 1px solid #9198FF;
        color: #9198FF;
        @include Bold;
    }
    &.fast {
        @include Position($top: 10px, $left: 10px);
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 30px;
        border-radius: 15px;
        padding: 0 10px;
        background-color:#406FF0;
        i {margin-right: 5px;}
    }
    &.fast2 {
        @include Align-middle-column;
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 80px;
        width: 80px;
        padding:0;
        border-radius: 100%;
        background-color:#406FF0;
        i {margin-bottom: 5px;}
    }
    &.pro {
        @include Position($top: 10px, $left: 10px);
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 30px;
        border-radius: 15px;
        padding: 0 10px;
        background-color:#02B174;
        i {margin-right: 5px;}
    }
    &.pro2 {
        @include Align-middle-column;
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 80px;
        width: 80px;
        padding:0;
        border-radius: 100%;
        background-color:#02B174;
        i {margin-bottom: 5px;}
    }
    &.time {
        @include Position($top:0, $left: 1.3rem);
        font-size:0;
        background-color: #F04040;
        height: 2.6rem;
        border-radius: 0 0 1rem 1rem;
        padding: 0 1rem;
        z-index: 2;
        i {margin-right: .5rem;}
        p{
            @include Vertical-inline;
            @include Bold;
            font-size:1rem;
            color:#fff;
        }
    }
    &.circle {
        @include Position($bottom: -1.9rem, $right: 1.3rem);
        @include Bold;
        @include Align-middle;
        border-radius: 100%;
        line-height: 1.3;
        font-size:1rem;
        height: 4.1rem;
        width: 4.1rem;
        color:#fff;
        background-color: #F04040;
        z-index: 2;
        &.off {
            background-color: #B4B8BF;
        }
    }
    &.num {
        @include Position($top: 0, $left: 0);
        background-color: #1E1E1E;
        color: #fff;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 0 0 .8rem 0;
        @include Bold;
    }
    &.point{
        color:#fff;
        @include Bold;
        font-size:15px;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        background: rgb(251,68,87);
        background: linear-gradient(90deg, rgba(251,68,87,1) 0%, rgba(241,93,55,1) 100%);
    }
    &.coupon{
        color:#fff;
        @include Bold;
        font-size:15px;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        background: rgb(129,112,221);
        background: linear-gradient(90deg, rgba(129,112,221,1) 0%, rgba(86,178,192,1) 100%);
    }
}

.flag-wrap {
    @include Position($top: 10px, $left: 10px);
    z-index: 2;
    .flag{
        @include Position($position:static);
        @include Align-middle;
        margin-bottom:10px;
    }
}
.flag-bottom-wrap {
    @include Position($bottom: -.85rem, $left: 1.3rem);
    font-size: 0;
    z-index: 2;
    .flag{
        @include Position($position:static);
        margin-right:.6rem;
    }
}

.flag-inline-wrap {
    font-size: 0;
    .flag {
        margin-right: 10px;
    }
}

.flag-big-wrap {
    @include Position($top: 30px, $left: 0);
    @include Align-middle-left;
    z-index: 2;
    .flag {
        position: relative;
        & + .flag {
            left: -10px;
        }
    }
}

//차량 플래그
.carFlag{
    &.chevrolet {
        width:47px;
        height:15px;
        @include Background($sprite:'carFlag-chevrolet', $position:center, $path:'logos', $size:auto);
    }
    &.hyundai {
        width:36px;
        height:19px;
        @include Background($sprite:'carFlag-hyundai', $position:center, $path:'logos', $size:auto);
    }
    &.kia {
        width:36px;
        height:19px;
        @include Background($sprite:'carFlag-kia', $position:center, $path:'logos', $size:auto);
    }
    &.renault {
        width:36px;
        height:22px;
        @include Background($sprite:'carFlag-renault', $position:center, $path:'logos', $size:auto);
    }
    &.benz {
        width:28px;
        height:28px;
        @include Background($sprite:'carFlag-benz', $position:center, $path:'logos', $size:auto);
    }
    &.bmw {
        width:28px;
        height:28px;
        @include Background($sprite:'carFlag-bmw', $position:center, $path:'logos', $size:auto);
    }
    &.ssangyong {
        width:36px;
        height:29px;
        @include Background($sprite:'carFlag-ssangyong', $position:center, $path:'logos', $size:auto);
    }
    &.etc {
        width:26px;
        height:26px;
        @include Background($sprite:'carFlag-etc', $position:center, $path:'logos', $size:auto);
    }
}