@charset "utf-8";

@import "./_common.scss";

@import "./contents/_short.scss";
@import "./contents/_provision.scss";
@import "./contents/_cooperation.scss";
@import "./contents/_cooperation-02.scss";

.inner {
    min-width: 1280px;
    max-width:1420px;
    width: 1420px;
    // width: 1080px;
    margin: 0 auto;
    position: relative;
}
.inner_sub {
    width: 1280px;
    // width: 1080px;
    margin: 0 auto;
    position: relative;
}