@charset "utf-8";

@import "./_common.scss";

@import "./contents/_main.scss";
@import "./contents/_direct.scss";
@import "./contents/_contract.scss";
@import "./contents/_secondhand.scss";
@import "./contents/_short.scss";
@import "./contents/_event.scss";
@import "./contents/_carLife.scss";
@import "./contents/_longTerm.scss";
@import "./contents/_customer.scss";
@import "./contents/_login.scss";
@import "./contents/_join.scss";
@import "./contents/_mypage.scss";
@import "./contents/_footerMenu.scss";
@import "./contents/_consulting.scss";
@import "./contents/_provision.scss";
@import "./contents/_etc.scss"; //eng etc
@import "./contents/_carRental.scss";//eng - car rental

@import "./contents/_print.scss";


.inner {
    //min-width: 1280px;
    min-width: 1200px;
    max-width:1420px;
    width: 1420px;
    // width: 1080px;
    margin: 0 auto;
    position: relative;
}
.inner_sub {
    //width: 1280px;
    width: 1200px;
    // width: 1080px;
    margin: 0 auto;
    position: relative;
}